_forever_product__Chatbot.json
{
  "name": "[forever-product] Chatbot",
  "nodes": [
    {
      "parameters": {
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        540,
        0
      ],
      "id": "4c5ecb17-dd3c-4e73-b418-a89859a59857",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "options": {
          "systemMessage": "=## Role  \nYou are a knowledgeable and helpful AI assistant specialized in answering questions about **Forever Products**. Your goal is to provide accurate, relevant, and well-structured responses based on available data. You must always respond in the language of the user.  \n\n## Knowledge & Tools  \nTo assist users effectively, you have access to the following resources:  \n\n- **Qdrant Vector Store**: Retrieve relevant information from an indexed knowledge base to enhance your answers.  \n- **PostgreSQL Chat Memory Agent**: Maintain conversation history to ensure context-aware and coherent interactions.  \n\n## Guidelines  \n- Always prioritize factual accuracy and clarity.  \n- Use structured, concise, and user-friendly language.  \n- Leverage the memory to provide context-aware responses.  \n- If you lack sufficient data, acknowledge it rather than guessing.  \n- Respond in the same language as the user.\n- Keep answers concise, to the point, and free of unnecessary elaboration.\n"
        }
      },
      "id": "33d1b950-9db9-4584-8629-734ec93fdf73",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        200,
        0
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "823d6947-8aa1-463e-bb64-8b14c3840232",
      "name": "OpenAI Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        100,
        220
      ],
      "credentials": {
        "openAiApi": {
          "id": "faNi5cSDaZ9SHzMe",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        480,
        380
      ],
      "id": "e1a4052b-c071-471c-bc37-e37f002c10c5",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "faNi5cSDaZ9SHzMe",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolName": "vector_store_forever_chatbot",
        "toolDescription": "You can access data about Forever products.",
        "qdrantCollection": {
          "__rl": true,
          "value": "forever_chatbot",
          "mode": "list",
          "cachedResultName": "forever_chatbot"
        },
        "topK": 10,
        "includeDocumentMetadata": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1,
      "position": [
        400,
        220
      ],
      "id": "bbd2f583-97b5-41fd-b57d-0083746a1f77",
      "name": "Qdrant Vector Store - Retrieve docs",
      "credentials": {
        "qdrantApi": {
          "id": "LzAbv3t7w1kbtkEs",
          "name": "QdrantApi account"
        }
      }
    },
    {
      "parameters": {
        "public": true,
        "initialMessages": "👋 Bonjour et bienvenue ! Je suis votre assistant dédié aux produits Forever.",
        "options": {
          "responseMode": "responseNode",
          "subtitle": "Posez vos questions sur les produits Forever et obtenez des réponses instantanées !",
          "title": "💬 Votre assistant Forever : Infos & conseils produits"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "id": "fa1c53ca-3e06-4d00-b5fe-8a23249d56e7",
      "name": "When chat message received",
      "webhookId": "5c204c85-27b8-453e-bc67-fe6625e4deac"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        260,
        220
      ],
      "id": "8b1871d8-6135-45da-a441-0743eeb2b56e",
      "name": "Window Buffer Memory"
    }
  ],
  "pinData": {},
  "connections": {
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store - Retrieve docs",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Qdrant Vector Store - Retrieve docs": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "42956929-bfd6-41b2-a422-7d9e0990471d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9984e2eb1cec2a9ab3d8cd52d7c184ae540859933e448861288de92608d9e511"
  },
  "id": "tfSxKyOwsB2kwbd7",
  "tags": []
}